.form-container {
    width: 400px;
}

.form-container select,
.form-container textarea {
    margin-bottom: 15px;
}

.form-container select {
    cursor: pointer;
}

.form-container .delete-button {
    background-color: #6c757d; /* 회색 계열 */
    margin-top: 10px;
}
.form-container .delete-button:hover {
    background-color: #5a6268;
}